i{color: rgb(167, 14, 14);}
h1{color: rgb(0, 0, 0);}
h2{color:rgb(196, 13, 13);}
h3{color: rgb(0, 0, 0);}
h4{color: rgb(190, 26, 26);}
#imal1 {margin-left: 40%;}
i{text-align: center;}
#imal2{margin-left: 40%;}
#imal3{margin-left: 40%;}
#imal4{margin-left: 40%;}
i{font-size: small;}